<section class="form-box">
  <h3>Add new User</h3>
  <form [formGroup]="userForm" (ngSubmit)="addNewUser()"> <!-- Bind form to FormGroup -->
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" formControlName="name" />
    </div>
    <br/>
    <div class="form-group">
      <label for="surname">Surname:</label>
      <input type="text" class="form-control" id="surname" formControlName="surname" />
    </div>
    <br/>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="text" class="form-control" id="email" formControlName="email" />
    </div>
    <br/>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" formControlName="password" />
    </div>
    <br/>
    <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" class="form-control" id="type" formControlName="type" />
    </div>
    <br/>
    <div class="form-group">
      <label for="position">Position:</label>
      <input type="text" class="form-control" id="position" formControlName="position" />
    </div>
    <br/>
    <button type="submit" class="btn btn-success" [disabled]="userForm.invalid">Add User</button> <!-- Disable button if form is invalid -->
  </form>
</section>
