.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.faq-answer.expanded {
    max-height: 5000px; 
    transition: max-height 5s ease;
}

.faq-site-title{
    margin: 20px;
    text-align: center;
}

.card-title {
    cursor: pointer;
    font-weight: bold;
    transition: color 0.4s ease;
}

.card-title:hover {
    color: var(--bs-primary)
}

.card-body {
    padding-bottom: 10px;
}

#faq-list{
    max-width: 1000px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: var(--bs-primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.loaderBox{
    text-align: center;
    margin: 20px;
}


#EditBox{
    text-align: center;
}

.input-group{
    min-width: 300px;
    width: 50%;
}