<section class="container">
    <h2 class="faq-site-title">Frequently Asked Questions:</h2>
    
    <section class="d-flex justify-content-center">
        <div class="input-group mb-3">
            <span class="input-group-text">Search :</span>
            <input [formControl]="filterControl" name-="filter" type="text" class="form-control" placeholder="Enter searching question..." >
        </div>
    </section>

    <section id="faq-list">
        @if(loading){
            <div class="loaderBox">
                <span class="loader"></span>
            </div>
        }
        @else{
            @if(showError){
                <div class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>
            }
            @else if((faqList | faqFilter:filterValue).length == 0){
                <div class="alert alert-warning" role="alert">
                    There is no FAQs with '{{filterValue}}' in title
                </div>
            }
            @else{
                <div ngbAccordion [closeOthers]="true">
                    @for (faq of faqList | faqFilter:filterValue; track $index) {
                        <div ngbAccordionItem (click)="toggleFaq(faq)" >
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton><h5>{{$index+1}}. {{ faq.title }}</h5></button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="accordionBody">
                                    <ng-template>
                                        <p>{{faq.answer}}</p>
                                        <div>
                                            @if (faq.materialsId){
                                                <app-material-item 
                                                    [materialId]='faq.materialsId' 
                                                    [showDownloadFile]="true">
                                                </app-material-item>
                                            }
                                        </div>
                                        <a type="button" class="btn btn-outline-primary" (click)="openDetailsFaq()">See details</a>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </section>
    <section id="EditBox">
        <button type="button" class="btn btn-primary" (click)="showAddFaq = !showAddFaq; showAddFaq ? scrollToBottom() : true;">{{showAddFaq ? 'Cancel Adding' : 'Add Faq'}}</button>
        @if(showAddFaq){
            <div>
                <app-add-edit-faq [faqTitles]="faqTitles" (faqAdded)="faqAddedInChild($event)"></app-add-edit-faq>
            </div>
        }
    </section>
</section>