<section class="form-box">
    <h3>Edit Faq</h3>
    <form>
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="editedTitle" name="title"/>
        </div>
        <br/>
        <div class="form-group">
          <label for="answear">Answear:</label>
          <textarea class="form-control" id="answear" [(ngModel)]="editedAnswear" rows="10" name="answear"></textarea>
        </div>
        <br/>
     
        @if(editedMaterialsId){
          <app-material-item [materialId]='editedMaterialsId'></app-material-item>
          <button type="button" class="btn btn-danger" (click)="removeMaterials()">Remove Materials</button>
        }
        @else{
          <app-material-item (materialCreated)="onMaterialCreated($event)"></app-material-item>
        }
        <br/>
        <button type="button" class="btn btn-success" (click)="saveFaq()">Save Faq</button>
      </form>
</section>
