<section class="form-box">
    <h3>Add new Faq</h3>
      <form [formGroup]="faqForm" (ngSubmit)="saveFaq()"> 
      <div class="form-group">
        <label for="name">Title:</label>
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter title ..." />
        <span class="validator">
        @if(title?.errors?.['required']){
          Title cannot be null
        }
        @else if(title?.errors?.['minlength']){
          Title should have at least {{title?.errors?.['minlength']?.requiredLength}} characters
        }
      </span >
      </div>
      <div class="form-group">
        <label for="name">Answer:</label>
        <textarea type="textarea" class="form-control" id="answer" formControlName="answer" rows="10" placeholder="Enter answer ..."></textarea> 
        <span class="validator">
        @if(answer?.errors?.['required']){
          Answer cannot be null
        }
        @else if(answer?.errors?.['minlength']){
          Answer should have at least {{answer?.errors?.['minlength']?.requiredLength}} characters
        }
      </span >
      </div>
      <label>(Optional) Additional materials:</label>
      @if(this.faqForm.value.materialsId){
        <div class="materialBox">
          <app-material-item 
          [materialId]='this.faqForm.value.materialsId'
          [showRemoveFile]="true"
          [showDownloadFile]="true"
          [showAddingFile]="true"
          >
          </app-material-item>
        </div>
      }
      @else{
        <app-material-item (materialCreated)="onMaterialCreated($event)"/>
      }
      <button type="submit" class="btn btn-success" [disabled]="faqForm.invalid">Save Faq</button>
      @if(this.faqForm.value.materialsId){
        <button type="button" class="btn btn-danger" (click)="removeMaterials()">Remove materials</button>
      }
      </form>
</section>
