.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.error { color: red; }

.form-control {
    margin: 6px;
    justify-content: center;
    display: flex;
}

.header{
    justify-content: center;
    display: flex;
}

.button{
    justify-content: center;
    display: flex;
    margin: auto;
}