<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Edit Schooling !!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="schoolingEditForm" (ngSubmit)="submitForm()" class="mt-2 p-3 shadow bg-body-tertiary rounded">
      <h1>Create new Schooling</h1>
      <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" formControlName="title" class="form-control" />
          <span class="text-danger">
              @if(title?.errors?.['required']){
                  Title cannot be null
                }
          </span >
      </div>
      <div class="mb-3">
          <label class="form-label">Description</label>
          <input type="text" formControlName="description" class="form-control" />
          <span class="text-danger">
              @if(description?.errors?.['required']){
                  Description cannot be null
                }
          </span >
      </div>
      <div class="mb-3">
          <label class="form-label">Category</label>
          <select formControlName="categoryId" class="form-control">
              <option value="" disabled>Select a category</option>
              <option *ngFor="let category of categories" [value]="category.id">
                  {{ category.name }}
              </option>
          </select>
          <span class="text-danger">
              @if(categoryId?.errors?.['required']){
                  Category is required
                }
          </span >
      </div>
      <div class="mb-3">
          <label class="form-label">Priority</label>
          <input type="number" formControlName="priority" class="form-control" min="0" />
          <span class="text-danger">
              @if(priority?.errors?.['required']){
                  Priority is required
              }
          </span >
  
      </div>
  		<button type="button" class="btn btn-danger me-2" (click)="d('Cross click')">Cancel</button>
      <button type="submit" class="btn btn-primary ms-2" (click)="c('Save click')">Submit</button>
  </form>
	</div>
</ng-template>