<section class="form-box">
    <h3>Add new Faq</h3>
    <form>
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="title"  name="title" placeholder="Enter title here ...">
        </div>
        <br/>
        <div class="form-group">
          <label for="answear">Answear:</label>
          <textarea class="form-control" id="answear" [(ngModel)]="answear" rows="8"  name="answear" placeholder="Enter answear here ..."></textarea>
        </div>
        <br/>
        <app-material-item (materialCreated)="onMaterialCreated($event)"></app-material-item>
        <br/>
        <button type="button" class="btn btn-success" (click)="addNewFaq()">Add Faq</button>
      </form>
</section>
