.faqBox{
    margin: 20px 100px;
}

.title{
    text-align: center;
}

.buttonBox{
    margin: 10px;
    text-align: center;
}

.buttonBox > button{
    margin: 5px;
}

.material{
    margin-top: 10px;
}
