<!-- <app-material-item 
    [materialId]="materialId" 
    [showRemoveFile]="true"
    [showDownloadFile]="true"
    [showAddingFile]="true"
    (materialCreated)="onMaterialCreated($event)" 
    >
</app-material-item> -->
<!-- <app-schooling-list></app-schooling-list>
<app-schooling-create></app-schooling-create> -->
<div class="row">
  @if (userRole === "Newbie") 
  {
    <app-schooling-list class="col"></app-schooling-list>
  }
  @else if (userRole === "Mentor") 
  {
    <app-schooling-list-mentor [addSchoolings]="schoolingData" class="col"></app-schooling-list-mentor>
    <app-schooling-create (schoolingCreated)="onSchoolingCreated($event)" class="col"></app-schooling-create>
  }
</div>