<div >
    <h1 class="title">Welcome in "catchUp" onboarding app</h1>
    <br/>
    <div class="info">
        <h1 >As Admin:</h1>   
        <br/>
        <h3>
            <ol>
                <li>Create and assign tasks</li>
                <li>Build a FAQ section for employees</li>
                <li>Create schoolings</li>
                <li>Add new emplyees</li>
                <li>Receive feedbacks</li>
            </ol>
        </h3>
    </div>
    <br/>
    <div class="info">
        <h1 >As Newbie:</h1>
        <br/>
        <h3>
            <ol>
                <li>Explore assigned tasks</li>
                <li>Gain knowledge from  schoolings</li>
                <li>Find answers for your questions in FAQ</li>
                <li>Give feedbacks</li>
            </ol>
        </h3>
    </div>
 
</div>
