<section class="container">

    @if(isAdmin){
    <h1 class="title">Admin Panel</h1>
        <div class="menuBox">
            <div ngbDropdown class="d-inline-block" >
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    Select Action
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="selectedAction = 'add-user'">Add User</button>
                    <button ngbDropdownItem (click)="selectedAction = 'feedbacks'">Explore Feedbacks</button>
                    <button ngbDropdownItem (click)="selectedAction = 'add-task'">Add Task</button>
                    <button ngbDropdownItem (click)="selectedAction = 'assign-task'">Assign Task</button>
                </div>
            </div>
        </div>

    <div class="actionsBox">
        @switch(selectedAction){
            @case("add-user"){
                <app-add-user/>
            }
            @case("add-task"){
                <add-task/>
            }
            @case("assign-task"){
                <give-task/>
            }
            @default {
                <h2>Welcome in Admin Panel: {{user?.name}} {{user?.surname}}
                </h2>
            }
        }
    </div>
    }
    @else{
        <h1 class="title">You are not admin!</h1>
    }

</section>